<div class="container" id="loginContainer">
  <div class="row justify-content-center">
    <div class="col-5">
     <div class="card" id="loginCard">
       <h2 class="card-title text-center" id="loginHeader">Login</h2>
       <div class="card-body py-4">
         <%= form_for(:session, :html => {role: "form"}, url: login_path) do |f| %>
           <div class="form-group">
             <%= f.email_field :email,
                               class: "form-control",
                               id: "loginEmail",
                               placeholder: "Email" %>
           </div>

           <div class="form-group">
             <%= f.password_field :password,
                                  class: "form-control",
                                  id: "loginPassword",
                                  placeholder: "Password",
                                  autocomplete: "off" %>
           </div>
           <div class="form-group" id="logindiv">
            <%= f.submit "Login", class: "btn btn-success btn-lg", id: "loginButton" %>
           </div>
         <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
