<div class="container jumbotron" id="userList" align="center">
  <h1 class="bold font-family-monospace" id="userShowHeader">List of all Wanderers</h1>
  <% @users.each do |user| %>
  <div class="jumbotron" id="userListJumbtron">
    <p align="center">
      <%= link_to gravatar_for(user), user_path(user) %>
    </p>
    <h4 class="bold font-family-monospace" id="userShowHeader">
      <%= link_to user.username, user_path(user), id: "userListName" %>
    </h4>
    <br />

    <p>
      <small>
        <%= pluralize(user.articles.count, "article") if user.articles %>
      </small>
    </p>
  </div>

  <% end %>
</div>
