<div class="container jumbotron" id="showUser">
  <h1 align="center"> Welcome to <%= @user.username %>'s Page </h1>
    <div align="center" id="userImage">
      <%= gravatar_for @user %>
    </div>
  <h4 align="center"> <%= @user.username %>'s Articles </h4>
  <div class="rounded" id="userArticles">
    <%= render 'articles/article', obj: @user.articles %>
  </div>
</div>
