<div id="home">
  <div class="jumbotron" id="homeJumbotron">
    <h1 class="display-4" id="homeName">Wandering Albus</h1>
    <p class="display-4">
      <%= link_to "Sign Up", signup_path, class: "btn btn-lg shadow rounded offset", id: "signup" %>
      <%= link_to "Login", login_path, class: "btn btn-lg shadow rounded offset", id: "login" %>
    </p>
  </div>
</div>
