<div class="jumbotron" id="homeJumbotron">
  <h1 class="display-4" id="homeName">Wandering Albus</h1>
  <p class="display-4">
    <%= link_to "Sign Up", "#", class: "btn btn-lg shadow rounded offset", id: "signup" %>
    <%= link_to "Login", "#", class: "btn btn-lg shadow rounded offset", id: "login" %>
  </p>
</div>
